body {
    background-color: #E5E5E5;
}

.buttons {
    background-color: #AEC7FF;
}

#navigationbar {
    background-color: #B1B1B1;
    margin: 0px;
    padding-left: 20px;
    border-style: solid;
    border-color: #000;
    border-width: 4px;
    border-right: 100%;
}